@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,600;0,900;1,200;1,900&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

body {
  background-image: url(../imagenes/tomorrowland.jpg);
  background-size: 100%; }

.min-height {
  min-height: 82vh; }

.infocontac {
  margin: 30px; }

.bg-footer {
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.type-weight {
  color: white; }

.redes a i {
  font-size: 40px;
  text-align: center;
  padding: 5px 10px; }
  .redes a i:hover {
    transform: scale(1.5);
    transition: all 1s ease; }

.bacteria:hover {
  color: green;
  transform: scale(1.5);
  transition: all 1s ease; }

.bienvenido {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  justify-content: center;
  align-items: center; }

.logo {
  display: flex;
  justify-content: left;
  align-items: center; }
  .logo h1 {
    color: white;
    font-family: 'Raleway', sans-serif; }

.logomin {
  width: 125px;
  height: 125px; }

a,
a:active {
  text-decoration: none;
  color: white; }

.df-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  flex-direction: row; }

.df-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 200; }
  .df-ul li {
    margin: 10px; }
    .df-ul li:hover {
      transform: scale(1.25);
      transition: all 0.6s ease;
      font-weight: 600; }

h1 {
  margin-left: 70px; }

.titulomain {
  color: rgba(255, 255, 255, 0.76);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.452); }

.noticias {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px; }

.noticias-1 {
  width: 30%;
  height: 900px; }

.noticias-texto {
  color: rgba(221, 221, 221, 0.76);
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 40px;
  font-size: xx-large;
  background-color: rgba(0, 0, 0, 0.623); }

.carousel {
  height: 80vh; }

.presentacion {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 30px;
  padding: 25px; }

.presentacion-p {
  flex-direction: column;
  font-size: x-large;
  justify-content: space-around;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.61);
  margin: 30px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.452); }

.presentacion-img {
  width: 30%;
  height: 100vh; }

.iframe {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 3%;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-top: -50px; }

iframe {
  width: 92%;
  height: 48%;
  border: solid black 2px; }

.iframesc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  height: 45vh; }

.iframe-musica {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 30px; }

.formulario-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px; }

@media (max-width: 1300px) {
  .bienvenido {
    display: none; }
  body {
    background-size: 100%; }
  .iframe {
    margin-top: -5%; }
  .presentacion {
    width: auto;
    height: auto; }
    .presentacion p {
      margin: 30px;
      font-size: large; }
    .presentacion img {
      width: 30%;
      height: 100vh; }
  .noticias {
    margin: 30px; }
  .noticias-1 {
    width: 45%;
    height: 500px; }
  .noticias-texto {
    padding: 20px;
    margin: 40px;
    font-size: xx-large; }
  .carousel {
    height: 80vh; } }

@media (max-width: 1110px) {
  h1 {
    display: none; }
  .df-header {
    justify-content: space-around;
    align-items: center; }
  .bienvenido {
    display: none; }
  .iframe {
    margin-top: 0%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 155vh;
    width: 100%; }
  iframe {
    width: 80%;
    height: 300px;
    border: solid black 2px;
    margin: 10px; }
  .iframesc {
    margin-bottom: 30px;
    margin-top: 30px;
    height: 40vh; }
  .presentacion {
    width: auto;
    height: auto; }
  .presentacion-img {
    height: auto;
    width: auto; }
  .presentacion-p {
    font-size: medium !important;
    margin: 30px !important; }
  .noticias {
    margin: 30px; }
  .noticias-1 {
    width: 45%;
    height: 500px; }
  .noticias-texto {
    padding: 20px;
    margin: 40px;
    font-size: x-large; }
  .carousel {
    height: 80vh; } }

@media (max-width: 800px) {
  .presentacion {
    width: auto;
    height: auto;
    margin: 0px; }
    .presentacion img {
      display: none; }
  .presentacion-p {
    font-size: x-large !important; }
  .noticias {
    margin: 30px; }
  .noticias-1 {
    width: 30%;
    height: 300px; }
  .noticias-texto {
    padding: 20px;
    margin: 40px;
    font-size: large; }
  .carousel {
    height: 80vh; } }

@media (max-width: 576px) {
  body {
    background-size: 100%; }
  h1 {
    display: none; }
  .df-ul {
    font-size: 75%; }
  .bienvenido {
    display: none; }
  .df-header {
    justify-content: center;
    align-items: center; }
  .logomin {
    width: 100px;
    height: 100px; }
  .iframe {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 140vh;
    margin-top: 10px; }
  iframe {
    width: 80%;
    height: 200px;
    border: solid black 2px; }
  .iframesc {
    margin-bottom: 30px;
    height: 40vh; }
  .type-weight {
    display: none; }
  .bg-footer {
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center; }
  .titulomain {
    margin: 15px;
    padding: 10px;
    font-size: small; }
  .presentacion {
    width: auto;
    height: auto;
    margin: 0px; }
    .presentacion img {
      display: none; }
  .noticias {
    margin: 20px; }
  .noticias-1 {
    display: none; } }

@media (max-width: 500px) {
  .logomin {
    display: none; }
  .df-ul {
    font-size: 65%;
    margin-top: 20px;
    margin-bottom: 20px; }
  .iframe {
    grid-column-gap: 3%;
    grid-row-gap: 5px;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 150vh;
    margin: 5px; }
  .iframesc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 35vh; }
  .titulomain {
    margin: 15px;
    padding: 10px;
    font-size: large; }
  .presentacion {
    width: auto;
    height: auto;
    margin: 0px; }
    .presentacion img {
      display: none; }
  .noticias {
    margin: 20px; }
  .noticias-1 {
    display: none; } }

@media (max-width: 428px) {
  .df-ul {
    font-size: 65%;
    margin-top: 20px;
    margin-bottom: 20px; }
  .titulomain {
    margin: 15px;
    padding: 10px;
    font-size: medium !important; }
  .iframesc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 30vh; }
  .iframe {
    grid-column-gap: 3%;
    grid-row-gap: 5px;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 130vh;
    margin: 5px; }
  .presentacion {
    width: auto;
    height: auto;
    margin: 0px; }
    .presentacion img {
      display: none; }
  .presentacion-p {
    font-size: x-small;
    margin: 10px; }
  .noticias {
    margin: 20px; }
  .noticias-1 {
    display: none; }
  .noticias-texto {
    padding: 20px;
    margin: 10px;
    font-size: large; }
  .carousel {
    height: 90vh; } }
