.logo {
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo h1 {
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
}

.logomin {
    width: 125px;
    height: 125px;
}