* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* reseteo va siempre */

/* INICIA HEADER */
a,
a:active {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.df-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    flex-direction: row;
}

.logo {
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo h1 {
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
}

.logomin {
    width: 125px;
    height: 125px;
}

.df-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.df-ul li {
    margin: 10px;
}

.df-ul li:hover {
    transform: scale(1.25);
    transition: all 0.6s ease;
    font-weight: 600;
}

.bienvenido {
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    justify-content: center;
    align-items: center;

}

.formulario-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.presentacion {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 30px;
    padding: 0px;
}

.presentacion-p {
    flex-direction: column;
    font-size: xx-large;
    justify-content: space-around;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.61);
    margin: 50px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.452);


}

.presentacion-img {
    width: 500px;
    height: 700px;
}

.noticias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
}
.noticias-1 {
    width: 500px;
    height: 400px;
}

.noticias-texto {
    color: rgba(221, 221, 221, 0.76);
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 40px;
    font-size: xx-large;
    background-color: rgba(0, 0, 0, 0.623);
}

/* FIN HEADER */

/* INICIO MAIN */
.min-height {
    min-height: 82vh;
}

.titulomain {
    color: rgba(255, 255, 255, 0.76);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.452);
}

.tomorrow {
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: flex;
    justify-content: center;
}

.iframe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.iframesc {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.iframe-musica {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 30px;
}

/* FIN MAIN */

/* INICIO FOOTER */
.bg-footer {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.type-weight {
    color: rgb(255, 255, 255);
}

.redes a i {
    font-size: 40px;
    text-align: center;
    padding: 5px 10px;
}

.redes a i:hover {
    transform: scale(1.5);
    transition: all 1s ease;
}

.bacteria:hover {
    color: green;
    transform: scale(1.5);
    transition: all 1s ease;
}


/* FIN FOOTER */
